.articleStyle {
  background: rgb(165, 164, 164);
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
  border-color: rgb(50, 61, 51);
  border-style: dashed;
  border-width: 1px;
  box-shadow: 0px 10px 20px 2px rgb(146, 145, 145);
  min-width: 500px;
}

.liStyle {
  display: grid;
}

.ulStyle {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 40px;
}

@media only screen and (max-width: 1300px) {
  .articleStyle {
    border-color: rgb(7, 241, 105);
    margin: 10px;
    margin-right: 25px;
    margin-bottom: 35px;
    padding: 10px;
    min-width: 320px;
  }
  .ulStyle {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 700px) {
  .articleStyle {
    border-color: rgb(35, 13, 235);
    margin: 10px;
    margin-right: 25px;
    margin-bottom: 35px;
    padding: 10px;
    min-width: 320px;
  }
  .ulStyle {
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  }
}
