.articleItemContainerStyle {
  background: rgb(248, 245, 245);
  background: linear-gradient(
    to right,
    rgb(185, 98, 98) 0%,
    rgb(248, 245, 245) 25%
  );
  border-color: rgb(209, 31, 31);
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 2px rgb(94, 93, 93);
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.h2Style {
  color: rgb(209, 31, 31);
  font-size: 34px;
  line-height: 40px;
  font-weight: 610;
}

.pStyle {
  font-size: 18px;
  line-height: 22px;
}

.timeStyle {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
  .articleItemContainerStyle {
    margin-right: 20px;
    padding-bottom: 20px;
  }
  .h2Style {
    color: rgb(209, 31, 31);
    font-size: 28px;
    line-height: 30px;
  }

  .pStyle {
    font-size: 18px;
    line-height: 20px;
  }

  .timeStyle {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
