.buttonStyle {
  background: rgb(209, 31, 31);
  color: white;
  float: right;
  margin-right: 20px;
  font-size: 25px;

  border-color: rgb(231, 228, 228);
  border-radius: 20px;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
}
.buttonStyle:hover {
  background: red;
}
.buttonStyle:active {
  transform: translate(5px);
}
