.buttonStyle {
  background: rgb(209, 31, 31);
  color: white;
  font-size: 21px;
  max-height: 60px;
  /*min-height: 60px;*/
  margin-bottom: 0px;
  border-color: rgb(231, 228, 228);
  border-radius: 20px;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 70px;
  padding-bottom: 15px;
  padding-left: 70px;
}
.buttonStyle:hover {
  background: red;
}
.buttonStyle:active {
  transform: translate(5px);
}

@media only screen and (max-width: 700px) {
  .buttonStyle {
    padding: 10px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-size: 16px;
  }
}
